body{
  background-color: #ffa8b5;
  font-family: cursive;
  margin:auto;

}


input{
  background-color:antiquewhite;
}
/* 
h1{
  text-align: center;
} */


#show-btn{
  font-family:cursive;
  display: block;
  margin-top: 1rem;
  border-radius: 0.4rem;
  background-color: #a38089;
  cursor: pointer;
}

#result{
  text-align: center;
  font: bold;
  background-color: black;
  border: 1px;
  border-radius: 0.5rem;
  color: #ffffff;
}